*.iml
.idea/*
/achieveit-frontend/node_modules
/achieveit-frontend/package-lock.json
/achieveit-database/node_modules
/achieveit-database/package-lock.json
/achieveit-backend/node_modules
/achieveit-backend/package-lock.json
/node_modules
/package-lock.json
/*/node_modules